@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');
body{
    background-color: black !important;
}
.navbar{
    background-color: #2F2C2C !important;

}
.navbar-brand{
    line-height: 30px;
}
.text-avg{
    font-family: Reem Kufi;
font-size: 36px;
font-style: normal;
font-weight: 400;

letter-spacing: 0em;
text-align: left;

color: #FFFFFF !important;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}
.nav-link{
    font-family: Reem Kufi;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF !important;
}
.nav-item:not(last-child){
    margin-right: 27px
}
h1{
    margin-top: 162px;
    font-family: Reem Kufi;
font-size: 106px!important;
font-style: normal;
font-weight: 400;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}
.subtitle{
margin-top: 35px;
font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 54px;

text-align: center;

color: #FFFFFF;
}
.coffeecup{
    display: block;
    width: 200px;
    margin: 24px auto;
}
.subtitle-bigger{
    font-size: 72px!important;
    margin-top: 160px!important;
}
.top-margin{
    margin-top: 260px!important;
}
.logo-main{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 40px;
}
.start-btn{
    display: block;
    margin: auto;
    width: 350px;
height: 80px;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;
}
.start-btn > *{
    font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size:36px;
line-height: 36px;

color: #1B1A1A;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer{
    margin-top: 166px;
height: 73px;

background: #2F2C2C;
}